<div class="toast notification is-<%= type %>" data-controller="toast" data-action="animationend->toast#handleAnimationEnd">
  <button class="delete" data-action="click->toast#dismiss"></button>
  <%= message %>
  <div class="toast-progress" data-toast-target="progress"></div>
</div>
