<div class="is-flex is-justify-content-flex-end">
  <div class="flex-80">
    <%= form_with(url: ask_chat_path(chat), method: :post) do |f| %>
      <%= f.text_field :message,
        class: "input is-primary",
        placeholder: "Ask anything",
        required: true
      %>
      <%= f.submit "Send", class: "button is-primary is-hidden" %>
    <% end %>
  </div>
</div>
