<div id="messages-container">
  <%= turbo_stream_from :chat %>
  <%= turbo_frame_tag "chat" %>
</div>

<div id="messages">
  <%= render @chat.messages %>
</div>

<div class="ask_form" id="ask_form">
  <%= render "form", chat: @chat %>
</div>
